@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v1jeh6');
  src:  url('../fonts/icomoon.eot?v1jeh6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v1jeh6') format('truetype'),
    url('../fonts/icomoon.woff?v1jeh6') format('woff'),
    url('../fonts/icomoon.svg?v1jeh6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e90d";
}
.icon-zuojiantou:before {
  content: "\e90e";
}
.icon-xiaoxi:before {
  content: "\e90a";
}
.icon-二维码:before {
  content: "\e90c";
}
.icon-sousuo:before {
  content: "\e90b";
}
.icon-lingdang:before {
  content: "\e900";
}
.icon-qq:before {
  content: "\e901";
}
.icon-qqkongjian:before {
  content: "\e902";
}
.icon-shangjiantou:before {
  content: "\e903";
}
.icon-shouji:before {
  content: "\e904";
}
.icon-tengxunweibo:before {
  content: "\e905";
}
.icon-weixin:before {
  content: "\e906";
}
.icon-weixinxiaoxi:before {
  content: "\e907";
}
.icon-xinfeng:before {
  content: "\e908";
}
.icon-xinlang:before {
  content: "\e909";
}

